

body{

background-image: url('../img/89b3f355-c868-4b79-8c1e-48e31ac146f6.png');

}

.Encabezado {

  background-color: rgba(255, 247, 0, 0.362);
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 20px;
  
}

.Encabezado a{
         color: rgb(154, 55, 9);
        margin: 0;
         text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.Encabezado nav a :hover{
  color: rgb(154, 55, 9);
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}



.infoClientes{

  background-color: rgba(254, 239, 165, 0.208);
  font-size: 15px;
  margin: auto;
  width: 90%;
  
}

td, th{

  padding: 20px;
}

footer{

  background-color: rgba(150, 107, 0, 0.423);
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}


.inactivo:hover{
    background-color: rgb(235, 74, 74);
    cursor: pointer;
    font-weight: bold;
}

.dom{
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}








