
body {
  background-image: url('../img/89b3f355-c868-4b79-8c1e-48e31ac146f6.png');
  font-family: Arial, sans-serif;
  margin: 0;
}


.Encabezado {
  background-color: rgba(255, 247, 0, 0.36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.Encabezado a {
  color: rgb(154, 55, 9);
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

nav a:hover {
  color: red;
}


.contenedor-productos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px;
}


.producto {
  background-color: rgba(254, 239, 165, 0.3);
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0;
}

.producto p {
  margin: 5px 0;
  font-size: 16px;
}


footer {
  background-color: rgba(150, 107, 0, 0.4);
  display: flex;
  justify-content: space-around;
  padding: 20px;
}